@charset "UTF-8";

/* estilo geral*/

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.3;
}

/* menu */

header {
  margin-top: 60px;
  display: grid;
  gap: 60px;
  justify-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  background: white;
  padding: 1rem 2rem;
  border-radius: 4px;
  color: black;
  text-transform: uppercase;
  display: block;
  border: 2px solid transparent;
}

nav a:hover {
  border: 2px solid #e21;
}

/* conteudo*/

article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.intro {
  background-color: white;
  padding: 40px;
  text-align: right;
  position: relative;
  display: grid;
  align-content: center;
  justify-items: end;
  gap: 20px;
}

.introducao h1 {
  font-size: 2rem;
}

.intro::before {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}

.botao {
  background-color: #e21;
  color: white;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 4px;
  text-transform: uppercase;
}

.botao:hover {
  background-color: #900;
}

.bike {
  height: 100%;
  object-fit: cover;
}

/* subtitulo */

.subtitulo {
  font-size: 4rem;
  text-transform: uppercase;
  color: #c6c6c6;
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url(img/onda.svg);
}

/* vantagbes */

.lista-vantagens {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.vantagens-item:nth-child(odd) {
  background-color: #f7f7f7;
}

.vantagens-item:hover {
  border-left: 2px solid #e21;
}

.vantagens-item p {
  grid-column: 2;
}

/* RODAPE*/

footer {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 860px) {
  .subtitulo {
    text-align: center;
    padding: 3vw;
  }

  article.vantagens {
    grid-template-columns: 1fr;
  }

  .lista-vantagens {
    padding: 20px;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .vantagens-item {
    flex: 0 0 200px;
  }
}

@media screen and (max-width: 620px) {
  body {
    gap: 30px;
    margin-top: 20px;
  }

  header {
    gap: 30px;
  }

  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 45px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  article {
    grid-template-columns: 1fr;
  }

  .intro {
    text-align: center;
    justify-items: start;
  }
  .intro::before {
    display: none;
  }

  .subtitulo {
    font-size: 3rem;
  }

  .lista-vantagens {
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }

  .vantagens-item {
    gap: 10px;
    padding: 0;
  }

  .vantagens-item img,
  .vantagens-item h3 {
    align-self: end;
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    gap: 15px;
  }

  .subtitulo {
    font-size: 2.3rem;
  }

  p {
    font-size: 1.3rem;
  }
}
